#box-header{
    .menu-header-btn{
        display: flex;
        padding: 0 5px 0 0;
    }
}
.box-public-cardapio{
    display: flex;
    // align-items: stretch;
    height: calc(100vh - 60px);
    .menu-cardapio{
        background-color: var(--background-sidebar);
        color: var(--color-sidebar);
        border-right: 1px solid var(--background-sidebar-h);
        width: 260px;
        overflow: auto;
    }
    .box-cardapio{
        width: 100%;
        overflow: auto;
        .info-cardapio{
            background-color: var(--background-page-container);
            border: 1px solid var(--background-sidebar-h);
            color: var(--color-page-container);
            border-radius: 5px;
            margin: 20px 30px;
            padding: 20px 30px;
            &-img{
                width: 100%;
                overflow: hidden;
                max-height: 100px;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            h2{
                text-align: center;
            }
            h3{
                text-align: center;
            }
            h4{
                font-size: 18px;
            }
            .cardapio-info{
                border-bottom: 1px solid var(--background-sidebar-h);
                margin-bottom: 10px;
                padding-bottom: 10px;
                display: flex;
                align-items: stretch;
                cursor: pointer;
                &-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0 15px;
                }
                &-preco{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;
                    font-size: 16px;
                }
                &-img{
                    width: 200px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.modal-cardapio-info{
    &-preco{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        
        border-bottom: 1px solid var(--background-sidebar-h);
        margin-bottom: -8px;
        padding-bottom: 10px;
    }
    &-img{
        overflow: hidden;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 780px) {
    .box-public-cardapio{
        .menu-cardapio{
            display: none;
            button{
                border-bottom: 1px solid var(--background-sidebar-hc);
            }
            &.open{
                position: absolute;
                height: 100%;
                display: block;
            }
        }
        .box-cardapio{
            .info-cardapio{
                margin: 20px 10px;
                padding: 20px 20px;
            }
            .cardapio-info{
                flex-direction: column;
                &-content{
                    padding: 0 !important;
                }
                &-img{
                    width: 100% !important;
                    margin-bottom: 10px;
                    max-height: 160px !important;
                }
            }
        }
    }
    .modal-cardapio-info{
        &-preco{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            
            border-bottom: 1px solid var(--background-sidebar-h);
            margin-bottom: -8px;
            padding-bottom: 10px;
        }
        &-img{
            // max-height: 160px;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}