.box-perfis{
    .box-filter{
        padding: 10px 20px 20px 20px;
        &-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg{
                font-size: 24px;
            }
        }
        .btn-box{
            margin-top: 50px;
        }
    }
    .select-action-list{
        background-color: var(--list-bg-header);
        position: absolute;
        top: 10px;
        left: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 60px);
        .form-box{
            margin: 0;
            padding: 0;
            button.select-selected{
                min-height: 18px;
            }            
        }
        .form-select-box{
            width: 100px;
        }
        > span{
            margin-left: 20px;
        }
        
    }

}
.modal-perfis{
    .content-info{
        border: 1px solid var(--background-page-container-shadow);
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;
        &-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .form-box{
                margin: 0;
                padding: 0;
                .check-box{
                    line-height: normal;
                }
            }
        }
        h6{
            font-size: 1.1em;
            font-weight: 700;
            margin: 0;
        }
    }
    
}

.boxes-permissao{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin:  5px 0 10px 0;
    >div{ 
        border: 1px solid var(--background-page-container-shadow);
        border-radius: 5px;
        padding: 15px 0px 15px 15px;
        margin-bottom: 15px;
        width: 49%;
        &:nth-child(even){
            margin-left: 2%;
        }
        .form-radiobutton,
        >.form-checkbox{
            border-bottom: 1px solid var(--background-page-container-shadow);
            padding-bottom: 10px;
        }
        >h4{
            border-bottom: 1px solid var(--background-page-container-shadow);
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
        }
        > div:last-child{
            margin-left: 20px;
        }
    }
}